{% extends "base.html" %}

{% block content %}

<div class = "nav">
    <div style="float: left; margin-left: 40px; margin-top: 18px;"><a href="/"><img src="/static/gyftlogo.jpeg" height="60px" width="165px"></a></div>
  	<div style="float: left; margin-left: 0px; margin-top: 18px;"><a href="/log_in"><img src="/static/login.jpg" height="60px" width="165px"></a></div>
  	<div style="float: left; margin-left: 0px; margin-top: 18px;"><a href="/cities"><img src="/static/city.jpg" height="60px" width="165px"></a></div>
</div>

<div class="maincontent">
  	  <img src="/static/main-image1.jpg" width=100%>
</div>

{% endblock content %}