{% extends "base.html" %}

{% block content %}

<div class = "nav">
    <div style="float: left; margin-left: 40px; margin-top: 18px;"><a href="/"><img src="/static/gyftlogo.jpeg" height="60px" width="165px"></a>
</div>

<div class="congrats">
  Congrats!!!
</div>

<div class="congrats2" style="text-align:center; border-style: dashed;
    border-width: 2px;">
  Your order of <b>{{ item }}</b> will be delivered to address:<br />
  <b>{{ drop_address }}</b> <br />
  within 1 hour for an estimated fee of <b>{{ fee }}</b>
</div>

  
<div class="maincontent3">
    <img src="/static/celeb.jpg" width=100%>
</div>
{% endblock %}