{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class = "nav">
    <div style="float: left; margin-left: 40px; margin-top: 18px;"><a href="/"><img src="/static/gyftlogo.jpeg" height="60px" width="165px"></a>
</div>

<div class="congrats">
  Congrats!!!
</div>

<div class="congrats2" style="text-align:center; border-style: dashed;
    border-width: 2px;">
  Input the order details in the form below:
</div>

<div class="city">
    {{ wtf.quick_form(form) }}
</div>


{% endblock %}